@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #fdfdfd;
}


:disabled {
    background-color: rgba(216, 216, 216, 0.329);
    cursor: not-allowed;
    color: rgb(160, 160, 160);
}